.footer {
  background-color: #292929;
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
  }
}
.footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 30px;

  @include tablet {
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 0;
  }
}
.footer-top-wrap {
  @include mobile {
  }
  @include tablet {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  @include desktop {
    width: auto;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
.footer-logo-wrap {
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
  }
}
.footer-logo {
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
  }
}
.footer-logo-img {
  width: 300px;

  @include tablet {
    width: 250px;
  }
  @include desktop {
    width: 300px;
  }
}
.footer-adress-wrap {
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
    width: 450px;
  }
}
.footer-adress {
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
  }
}
.footer-adress-text {
  font-style: normal;
  color: #ffffff;
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
  }
}
.footer-contacts {
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
  }
}
.footer-bottom-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
  
  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  @include desktop {
    display: flex;
    align-items: center;
  }
}
.footer-contacts-list {
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.footer-contacts-item {
  &:nth-last-child(even){
    margin-bottom: 10px;
  }
  @include desktop {
    margin-bottom: 0;
  }
}
.footer-contacts-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #ffffff;
  &:hover,
  &:focus {
    color: #daa600;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
  }
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
    // display: flex;
    // align-items: center;
    // gap: 10px;
    // font-weight: 500;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.02em;
    // text-decoration: none;
    // color: #ffffff;
    // &:hover,
    // &:focus {
    //   color: #daa600;
    //   transition-duration: 250ms;
    //   transition-timing-function: $timing-function;
    // }
  }
}
.footer-contacts-icon {
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
  fill: #ffffff;
  .footer-contacts-link:hover,
  .footer-contacts-link:hover & {
    fill: #daa600;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
  }
  .footer-contacts-link:focus,
  .footer-contacts-link:focus & {
    fill: #daa600;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
  }
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
    // transition-duration: 250ms;
    // transition-timing-function: $timing-function;
    // fill: #ffffff;
    // .footer-contacts-link:hover,
    // .footer-contacts-link:hover & {
    //   fill: #daa600;
    //   transition-duration: 250ms;
    //   transition-timing-function: $timing-function;
    // }
    // .footer-contacts-link:focus,
    // .footer-contacts-link:focus & {
    //   fill: #daa600;
    //   transition-duration: 250ms;
    //   transition-timing-function: $timing-function;
    // }
  }
}
.btn-beginning {
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
    margin: 0 40px;
  }
}
.btn-link {
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
  }
}
.btn-beginning-icon {
  fill: #ffffff;
  .btn-link:hover,
  .btn-link:hover & {
    fill: #daa600;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
    transform: translateY(-10px);
  }
  .btn-link:focus,
  .btn-link:focus & {
    fill: #daa600;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
    transform: translateY(-10px);
  }

  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
    // fill: #ffffff;
    // .btn-link:hover,
    // .btn-link:hover & {
    //   fill: #daa600;
    //   transition-duration: 250ms;
    //   transition-timing-function: $timing-function;
    //   transform: translateY(-10px);
    // }
    // .btn-link:focus,
    // .btn-link:focus & {
    //   fill: #daa600;
    //   transition-duration: 250ms;
    //   transition-timing-function: $timing-function;
    //   transform: translateY(-10px);
    // }
  }
}
